
/*variables*/
:root {
  --section-background:#ececec;
  --main-color:#2196f3;
  --alt-color:#1787e0;
  --main-transition:0.4s;
}
/* general roles*/
body {
counter-reset: service  footer;
  font-family: 'Cairo', sans-serif;
}
html {
 scroll-behavior: smooth ;
}
ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
ul li a {
    display:block;
  }
* {
  padding:0px;
  margin:0px;
}
a {
  text-decoration:none;
}
.container {
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:768px) {
  .container {
    width:750px;
  }
}
@media (min-width:992px) {
  .container {
    width:970px;
  }
}
@media (min-width:1200px) {
  .container {
    width:1170px;
  }
}

/* title */

.title {
 
  display:flex;
  justify-content:center;
  align-items: center;
  position:relative;
   padding:0px 10px;
  font-size: 30px;
  margin:50px auto;
  background-color: #eee;
  font-weight: 700;
  width: fit-content;
  z-index:1;
  border: 2px solid black;
}
.title:before,.title:after {
  content:"";
  position:absolute;
  width:12px;
  height:12px;
  border-radius:7px;
  background-color:var(--main-color);
}
.title:before {
  left:-30px;
}
.title:after{
  right: -30px;
}
.title:hover {
  transition-delay: 0.4s;
  color:#fafafa;
}
.title:hover:before {
  z-index:-1;
  animation:go-left 0.5s linear forwards;
}
.title:hover:after {
  z-index:-1;
 animation:go-right 0.5s linear forwards;
}
@keyframes go-left {
  60% {
    width:14px;
    height:14px;
    left:0px;
  }
  100% {
    left:0px;
    border-radius: 0px;
    width:50%;
    height:100%;
  }
}
@keyframes go-right {
  60% {
    width:14px;
    height:14px;
    right:0px;
  }
  100% {
    right:0px;
    border-radius: 0px;
    width:50%;
    height:100%;
  }
}

/*header*/

header {
  background-color:#fafafa;
}
header .container {
  position: relative;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
header .container>span {
  color: var(--main-color);
  font-size:25px;
  font-weight: bold;
  height:72px;
  display: flex;
  justify-content: center;
 align-items: center;
}
header .container>ul {
  display:flex;
  justify-content: center;
  align-items:center;
}
header .container>ul>li {
  padding-left: 10px;
  padding-right: 10px;
  height:50px;
  display: flex;
  justify-content: center;
 align-items: center;
  font-size:20px;
  transition:background-color var(--main-transition);
}
header a{
  color:#121212;}
header .container>ul>li>a{
  position:relative;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
 }
header .container>ul>li>a:before {
  content:"";
  position: absolute;
  left:-10px;
 transition:var(--main-transition);
  height:3px;
  top: 0px;
  background-color: var(--main-color);
  width:0px;
}
header .container>ul>li:hover a:before{
  width: calc(100% + 20px);
}
header .container .links:hover div{
display:block;
animation:shift var(--main-transition) linear forwards;
}
@keyframes shift {
  0% { opacity:0.5;}
  100% { opacity:1; top:calc(100% + 2px);}
}
header .container .links i {
  font-size:20px;
  margin:10px;
  opacity:0.5;
}
header .container .links div{
  width:80%;
  left:50%;
  transform:translatex(-50%);
  z-index: 100;
  top:calc(100% + 15px);
  background-color: #fafafa;
display:none;
  position: absolute;
}
header .container .links ul {
  padding:15px;
  display: grid;
  border-bottom:5px solid var(--main-color);
  grid-template-columns: 1fr 1fr;
  grid-column-gab: 25px;
}
header .links li:not(:nth-child(n + 9)){
  border-bottom:1px solid #12121244;
}
header .container li:hover {
  background-color: #eee;
  transition:var(--main-transition);
}
header .container .links li a {
  color: var(--main-color);
 font-size:20px;
 display: flex;
 align-items: center;
}
@media (max-width:767px) {
  header .container {
    flex-direction: column;
  }
  header .container>ul>li {
  padding-left:10px;
  padding-right:10px;
  font-size:15px;
}
header .container .links ul {
  padding:0px;
  display: grid;
  border-bottom:5px solid var(--main-color);
  grid-template-columns: 1fr ;
  
}
header .container .links div {
  width:100%;
  left:0px;
  transform: translate(0);
  top:calc(100% + 15px);
display:none;
  position: absolute;
}
header .links li:not(:nth-child(10)){
  border-bottom:1px solid #12121244;
}
}

/*start landing */

.landing .container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items:center;
  height:calc(100vh - 72px);
}
.landing .container:before {
  z-index:-10;
  content:"";
  width:100%;
  height:100%;
  position: absolute;
  background-color: var(--section-background);
  left:0px;
  top:0px;
  transform-origin:top right;
  transform:skewy(10deg) translatey(-30%);
}
.landing img {
 width: 50%;
 filter: ;
 height: 50%;
  animation:up-down 4s linear infinite;
  box-shadow: 0px 0px 20px 10px white;
}
@keyframes up-down {
  0% ,100% {
    transform:translatey(0px);
  }
  40% {
    transform:translatey(15px);
  }
}
.landing .text {
  position: relative;
  top:-20%;
  text-align:center;
  padding:10px;
}
.landing .text h2 {
  font-size:30px;
  line-height: 50px;
  color:#121212;
}
.landing .text p {
  font-weight: 300;
}
@media (min-width:768px) {
  .landing h2 {
    font-size:50px;
  }
  .landing p {
    font-size: 20px;
  }
}
.landing a {
  position: absolute;
  bottom:50px;
  animation: bouncing 1s  linear infinite;
}
@keyframes bouncing {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
   40% {transform: translateY(-30px);} 
   60% {transform: translateY(-15px);} 

}
.landing a i {
  font-size: 40px;
  color:var(--alt-color);
}

/* start articles*/
.articles {
  padding-top:20px;
  padding-bottom:20px;
}
.articles img {
  max-width:100%;
}
.articles .container {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap:30px;
}
.articles .info{
  display:flex;
  padding:10px;
  justify-content: space-between;
  border-top:3px solid #a6a6a7;
  align-items:center;
  color:var(--main-color);
  font-weight:bold;
}
.articles .box {
  box-shadow: 0px 2px 15px #00000044;
  transition:transform var(--main-transition),box-shadow var(--main-transition);
  
}
.articles .box:hover {
  transform:translatey(-10px);
  box-shadow: 0px 3px 15px #00000066 ;
}
.articles .text {
  padding:10px;
}
.articles .text p {
  color:#777;
  line-height: 1.9em;
}
.articles i {
  color:var(--main-color);
  display:flex;
  font-size:30px;
  align-items:center;
}

/* start gallery*/

.gallery {
  padding-top:20px;
  padding-bottom:20px;
  background-color: var(--section-background);
}
.gallery .container{
  display:grid;
  grid-gap:30px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.gallery .box {
  
  box-shadow: 0px 2px 10px #00000066;
  padding:15px;
  background-color: white;
}
.gallery .image {
  overflow: hidden;
  position:relative;
}
.gallery .image:before{
  content:"";
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:0;
  height:0;
  background-color: rgb(255 255 255 / 50%);
}
.gallery .image:hover:before {
  animation: flashing  0.7s;
}
@keyframes flashing {
  0% ,40% {
    opacity:1;
  }
  100% {
   opacity: 0;
  width:150%;
  height:150%;
  }
}
.gallery .image img{
 width:100%;
 max-width: 100%;
}

/* start features*/

.features {
  padding-top:20px;
  padding-bottom:20px;
}
.features .container {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 grid-gap: 30px;
}
.features .box {
 height:100%;
}
.features h3 {
  font-size: 35px;
  width: fit-content;
  position: relative;
  margin:15px auto;
  text-transform: capitalize;
}
.features h3:before {
  content:"";
  position:absolute;
  bottom:0px;
  width:80%;
  left:10%;
  height:5px;
}
.features p {
color:#777;
  line-height: 1.9em;
}
.features .info {
  padding:0px 15px;
}
.features .image{
  border:none;
   height:40%;
  overflow: hidden;
  position:relative;}
.features .image:before{
  position: absolute;
  transition:var(--main-transition);
  content:"";
  right:0px;
  transform-origin:left top;
  top:100%;
  background-color: white;
  transform: skewy(-12deg);
  width:100%;
  height:100%;
  z-index:100;
}
.features .box:hover .image:before{
transform-origin:right top;
transform:skewy(10deg) ;
}
.features .image:after {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  top:0;
  left:0;
}
.features img {
  height:100%;
  width:100%;
  max-width:100%;
}
.features a {
  z-index: 1;
  position:relative;
  transition-delay:var(--main-transition);
  padding:0px 15px;
  display:block;
  width:fit-content;
  margin:20px auto;
  font-size:25px;
  font-weight:bold;

}
.features a:before {
  z-index:-1;
  transition:var(--main-transition);
  position:absolute;
  content:"";
  width:0px;
  height:100%;
  left:0px;
  top:0px;
}
/* box 1*/
.features .box:first-child {
  box-shadow :1px 1px 5px #f44036;
}
.features  .box:first-child a{
color:#f44036;
border:5px solid #f44036;
}
.features  .box:first-child a:hover {
  color:white;
}
.features  .box:first-child a:hover:before {
  width:100%;
  background-color: #f44036;
}
.features .box:first-child h3:before ,.features .box:first-child .image:after{
  background-color:#f44036 ;
}

/* box 2*/
.features  .box:nth-child(2) {
  box-shadow :1px 1px 5px #009688;
}
.features  .box:nth-child(2) a{
color:#009688;
border:5px solid #009688;
}
.features  .box:nth-child(2) h3:before,.features  .box:nth-child(2) .image:after {
  background-color:#009688 ;
}
.features .box:nth-child(2) a:hover {
  color:white;
}
.features .box:nth-child(2) a:hover:before {
  width:100%;
  background-color: #009688;
}
/* box 3*/
.features .box:nth-child(3) {
  box-shadow :1px 1px 5px #03a9f4;
}
.features  .box:nth-child(3) a{
color:#03a9f4;
border:5px solid #03a9f4;
}
.features .box:nth-child(3) h3:before, .features .box:nth-child(3) .image:after {
  background-color:#03a9f4 ;
}
.features .box:nth-child(3) a:hover {
  color:white;
}
.features .box:nth-child(3) a:hover:before {
  width:100%;
  background-color: #03a9f4;
}

/* testimonials */
.testimonials {
  background-color: var(--section-background);
    padding-top:20px;
  padding-bottom:20px;
}
.testimonials .container {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 30px;
}
.testimonials .box {
  position:relative;
  padding:15px;
  
  background-color: white;
}
.testimonials .box img {
  width:80px;
  right:0px;
  top:-40px;
  height:80px;
  position: absolute;
  border-radius:50%;
  border:5px solid var(--section-background);
}
.testimonials .box p {
  color:#777;
}
.testimonials i {
  color:gray;
}
.testimonials i.fa-solid {
 color: orange;
}

/* start team-members */

.team {
  padding-top:20px;
  padding-bottom:20px;
}
.team .container {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap:30px;
  
}
.team .box {
  position: relative;
 
}
.team .box:before ,.team .box:after{
  content:"";
  position:absolute;
  height:100%;
  right:0px;
  top:0px;
}
.team .box:before {
  background-color: var(--section-background);
  z-index:-2;
  border-radius:10px;
  width:80%;
}
.team .box:after {
  width:0px;
  transition: var(--main-transition);
  z-index:2;
  background-color: black;
  opacity: 0.3;
 border-radius: 10px;
}
.team .box:hover:after {
  width:80%;
}
.team .box:hover h3 {
  color:#00000066;
}
.team .box:hover img {
  filter: grayscale(0.6);
}
.team .content {
  padding-top:30px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.team .icons {
 font-size: 20px;
 width:100%;
 gap:50px;
 display: flex;
 align-items: center;
 justify-content:center;
 flex-direction: column;
}
.team i {
  display:flex;
  color:#777;
  align-items:center;
  justify-content:center;
}
.team img {
  z-index:10;
  width:calc(100% - 30px);
 border-radius:10px;
 transition: var(--main-transition);
}
.team .info {
  padding-left:calc(20% + 5px);
  
}
.team h3 {
  transition:var(--main-transition);
  color: var(--main-color);
}

/* start service*/

.services {
  padding-top:20px;
  padding-bottom:20px;
  background-color: var(--section-background);
}
.services .container {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap:30px;
}
.services .box {
  position:relative;
  text-align: center;
  transition:var(--main-transition);
  background-color: white;
}
.services .box:hover {
  transform:translatey(-10px);
}
.services .box:before {
  content:"";
  position:absolute;
  top:0px;
  left:50%;
  transform:translatex(-50%);
  width:0px;
  height:5px;
  transition:var(--main-transition);
  background-color: var(--main-color);
}
.services .box:hover:before {
  width:100%;
}
.services .box i {
  display:flex;
  margin:30px 0px 0px 0px;
  align-items:center;
  justify-content: center;
  font-size:70px;
  color:#777;
}
.services .box h3 {
  color:var(--main-color);
  font-size:30px;
  padding:30px 0px;
}
.services .info {
  position:relative;
 display:flex;
  background-color: #fafafa ;
 align-items: center;
  justify-content: space-between;
}
.services a {
 margin:0px 30px;
  color:var(--main-color);
}
.services span {
  width:40px;
 padding:10px 50px 10px 30px ;
  background-color: var(--main-color);
}
.services span:before {
  font-weight:bold;
 
  content:"0" counter(service);
  counter-increment: service ;
}
.services .info:before {
  content:"";
  position: absolute;
  width:50px;
  height:100%;
 left:120px;
  transform-origin:left top;
  transform:skewx(-30deg);
  top:0px;
  background-color: #777;
 
}
 
/* skills */
.skills {
  padding-top:20px;
  padding-bottom:20px;
}
.skills .container {
  display:flex;
  padding:50px 0px;
  justify-content: center;
  align-items: center;
}
.skills img {
  width:400px;
}
.skills span {
  padding:5px;
  color:#121212;
}
.skills .skill {
  margin:10px;
 
  width:50%;
}
.skills .perc {
  background-color: #777;
  width:100%;
  height:20px;
 
}
.skills .skill .perc {
  margin-bottom:20px;
  
}
.skills .perc div{
  height:100%;
  position:relative;
  background-color: #2395f0;
}
.skills .perc div:after {
  content:attr(data-progress);
  position:absolute;
  padding:0px 3px;
  color:var(--main-color);
  top:-30px;
  font-size:12px;
  right:0px;
  border: 2px solid #aaa;
  
}
@media screen and (max-width:767px){
  .skills img {
    display:none;
  }
  .skills .skill{
    width:100%;}
}

/* how it work*/

.how-work {
  padding-top:20px;
  padding-bottom:20px;
  background-color: #f5f5f5;
}
.how-work img {
  max-width:100%;
  
}
.how-work .container {
  display:flex;
  justify-content: center;
 align-items: center;
}
@media (max-width:767px) {
  .how-work .container {
    flex-direction: column;
  }
}
.how-work .container .content {
  padding:5px;
  flex:1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:20px 0px;
}
.how-work .box {
  margin:20px 0px;
  padding: 15px;
  background-color: #eee;
  position:relative;
}
.how-work .box:before {
  content:"";
  position:absolute;
  width:0;
  height:0;
  border-style:solid solid solid solid;
  border-color: transparent #eee transparent transparent;
  border-width: 20px 20px 20px 20px;
  top:5px;
  left:-40px;
}
.how-work .box p {
  color:#777;
  line-height: 1.9em;
}

/* start events */
.events {
    padding-top:20px;
  padding-bottom:20px;
  background-color:white ;
}
.events .box {
  display:flex;
  align-items: center;
  justify-content:center;
}
.events img {
  max-width: 50%;
}
@media (max-width:767px) {
  .events img {
    display:none;
  }
}
.events .time {
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.events .side {
border:1px solid #d4d4d4;
  color:#777;
  width:70px;
  text-align: center;
  border-radius: 5px;
}
.events .side span {
  display: block;
}
.events .side span:first-child {
  font-size: 35px;
color:var(--main-color);
padding:5px;
}
.events .side span:last-child {
  padding:1px solid #d4d4d4;
  border-top:1px solid #d4d4d4;
}
.events .info {
  margin-top:50px;
  text-align: center;
}
.events .info p {
  color:#777;
  line-height: 1.9em;
}
.events .data{
  margin-top:50px;
  display: flex;
  align-items:center;
  justify-content: center;
  max-width: 100%;
}
.events form {
  padding:20px;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: var(--section-background);
  border-radius:30px;
  gap:10px;
}
.events input[type="submit"] {
  padding:10px;
  outline: none;
  font-size:13px;
  background-color: var(--main-color);
  color: white;
  border:none;
  border-radius: 30px;
}
.events input[type="email"] {
  padding:10px;
  border:none;
  font-size: 13px;
  outline: none;
  border-radius:30px;
}
.events input[type="email"]::placeholder{
  transition:var(--main-transition);
 }
.events input[type="email"]:focus::placeholder {
  opacity: 0;
}
@media (max-width:767px) {
 .events input[type="submit"] ,.events input[type="email"] {
   height: 50px;
   border-radius: 1px;
   width:100%;
 }
 .events form {
    width:100%;
    border-radius: 1px;
    flex-direction: column;
  }

}

/* start pricing*/
.pricing {
      padding-top:20px;
  padding-bottom:20px;
  background-color: var(--section-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap:30px;
}
.pricing .head {
  text-align: center;
}
.pricing .head i {
  font-size: 100px;
  color: var(--main-color);
}
.pricing .head h1 {
  font-size: 50px;
  margin-top:20px;
  color: var(--main-color);
}
.pricing .head p {
  color:#777;
  line-height: 1.9em;
}
.pricing .idea i {
  float: left;
  color: var(--main-color);
}
.pricing .link{

  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px auto;

}
.pricing .link a {
  font-weight: bold;
  color: var(--main-color);
  border: 3px solid var(--alt-color);
  padding:3px 5px;
  border-radius: 5px;
}
.pricing .box {
  position: relative;
  background-color: white;
 box-shadow: 3px 3px 10px 0px #00000066;
 z-index: 1;
}
.pricing .box:before {
  content:"";
  position:absolute;
  transition:var(--main-transition);
  height:50%;
  left:0px;
  top:50%;
  width: 0;
  z-index:-1;
  background: #00000011;
}
.pricing .box:hover:before , .pricing .box:hover:after {
  width:100%;
}
.pricing .box:after {
  content:"";
  position:absolute;
  transition:var(--main-transition);
  height:50%;
  right:0px;
  top:0;
  width: 0;
  z-index:-1;
  background: #00000011;
}

/* discount*/
.discount {
  
      padding-top:20px;
  padding-bottom:20px;
}
.discount .content {
  position:relative;
  z-index: 1;
  padding:50px 0px;
text-align:center;
  background-size:cover;
color:white;
  background-image: url("img/icon.jpg");
}
.discount .content:before {
  position:absolute;
  content:"";
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background:#2096F3cc ;
  z-index: -1;
}
.discount .content h1 {
  font-size: 35px;
}
.discount i {
  font-size: 60px;
}
.discount .data {
  background-color: white;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.discount .data h1 {
  font-size: 35px;
  text-align: center;
}
.discount input,.discount .area  {
  background-color: #77777711;
  display: block;
  border:0;
  width:100%;
  margin:15px 0px;
  padding: 10px;
  outline: none;
}
.discount input[type="submit"] {
  color:white;
  font-weight: bold;
  background-color: var(--main-color);
}
.discount form {
  width:300px;
}

/* start footer*/
footer {
  background-color: #121212;
        padding-top:20px;
  padding-bottom:20px;
}
footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-column-gap: 30px;
}
footer .discription {
  text-align: center;
  
}
footer .discription h1 {
  font-size: 40px;
  font-weight:bold;
  color:white;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  
}
footer .social i {
  color:#777;
  padding:5px;
  display:flex;
  font-size: 30px;
  border:3px solid #77777755;
  align-items: center;
  justify-content: center;
}
footer .discription p {
  color:#777;
  margin:15px 0px;
  
  line-height:1.9em;
}
footer .list {
  display:flex;
  flex-direction: column;
  
}
footer .list .unit {
  display:flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  padding-bottom:15px;

}
footer .list .unit:not(:last-child){
    border-bottom:3px solid #77777755;
}
footer .list .unit:after {
  counter-increment: footer;
  content: counter(footer);
  color:#777;
}
footer .list i {
  color:var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
footer .list a {
  color:#777;
}
footer .about .unit {
  color:#777;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom:15px;
}
footer .about .unit i {
    color:var(--main-color);
  font-size: 35px;
}
footer .container>h3 {
  color: white;
  padding: 15px 0px;
  border-top:3px solid #77777755;
  border-bottom: 3px solid #77777755;
}
